@import 'common/fonts';
@import 'common/variables';
@import 'common/mixins';
@import 'common/base';

@import 'modules/site-header';
@import 'modules/site-section';

@import 'modules/welcome-message-container';
@import 'modules/section-blog';

@import 'modules/skills-diamond';
@import 'modules/career-section';

.sub-heading {
	border-bottom: 2px solid green;
	display: inline-block;
}

.sub-heading-container {
	display: flex;
	justify-content: center;
	padding: 50px 0;
}

.homepage-social{
	width: 133px;
}

.homepage-social ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin:0;
	padding:0;
	align-items: center;

}

.show-below750px{
	display:none;
}

.homepage-social ul li {
	display: inline;
}
.homepage-social ul li a {
	color: white;
	width: 10px;
	font-size: 23px;
}

.about-me{
	display: flex;
	align-content: center;
	margin: auto;
	background-color: white;
	padding:0;
}

.name-line {
  /*color: red;*/
  font-family: "Montserrat";
  margin:0;
  padding:0;
  font-size: 25px;
}


.name-subline {
  /*color: blue;*/
  font-family: "Montserrat";
  margin:0;
  padding:0;
  font-size: 20px;
}

.about-me .describe {
	margin-left: 50px;
	padding:0;
}
.about-me-social ul {
	list-style-type: none;
	display: flex;
	justify-content: left;
	margin: 0;
	padding: 0;
}

.about-me-social ul li {
	display: inline;
    padding-right: 10px;
}

.about-me-social ul li a{
	font-size: 20px;
	color: #000;
}

.about-me img {
	max-height: 500px;

	@media (max-width: $breakpoint-phablet) {
        & {
            width: 100%;
        }
    }
}

.about-me-description, .ruby-class p {
/*	line-height: 2;
	letter-spacing: 1px;
	margin-top:0;*/
}

/*EDUCATION SECTION CSS*/

.location-nepal, .location-india, .location-australia {
	font-size: 20px;
	position: relative;
	left: 425px;
	top: 130px;
	color: red;
}

.location-nepal .tooltip-nepal, .location-india .tooltip-india, .location-australia .tooltip-australia {
	visibility: hidden;
	position: absolute;
	left: 430;
	top: 130;
	border: 1px dotted black;
	background-color: white;
	width: 200px;
	z-index: 1;
	text-align: center;
	color: black;
}

.location-nepal:hover .tooltip-nepal, .location-india:hover .tooltip-india, .location-australia:hover .tooltip-australia {
	visibility: visible;
}
.world-map {
	max-width: 670px;
	height: auto;
	/*margin-bottom: 30px;*/
}





%description-styling {
	line-height: 2;
	letter-spacing: 1px;
	margin-top:0;
	text-align: justify;
	font-family: "Arimo",sans-serif;
}

.about-me-description {
	@extend %description-styling;
	font-family: "Montserrat";
}

.about-me-description {
  font-family: "Montserrat";
}




.ruby-class p {
	@extend %description-styling;
	margin: 10px;
}

.time-management p {
	@extend %description-styling;
	margin: 10px;
}

.career {
	display: flex;
	/*justify-content: center;*/
	/*text-align: center;*/
	/*border: 2px solid red;*/
	width: 90%;
	height: 450px;
	margin: 0 auto;
	padding-bottom: 15px;
	position: relative;
}



 .tables {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}

.tab-tables {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid blue;
	background-color:#FFc04c;
}


.tabs {
	display: flex;
	justify-content: space-around;
	border: 1px solid green;
}
/*****************************************/
.tables {
	border: 1px solid black;
}
/*******************************************/
 .tabs p{
	color: black;
	text-decoration: bold;
}

.tabs p:hover {
	color: blue;
}

.tab :active {
	/*background-color: #ccc;*/
}
.work-table {
	display:none;
}
.work-table table  {
	border-collapse: collapse;
	border: 2px solid #FFc04c;
	letter-spacing: 1px;
	font-size:0.8rem;
	width: 95%;
	/*position: absolute;*/
	top: 0px;
	/*display: none;*/
	/*display: none;*/
}

.education-table table {
	/*position: absolute;*/
	border-collapse: collapse;
	border: 2px solid #FFc04c;
	letter-spacing: 1px;
	font-size:0.8rem;
	/*display: none;*/
}


td, th {
	border: 1px solid #FFc04c;
	padding: 2px 2px;
}

th {
	background-color: rbg(235,235,235);
}

.career-heading {
	display: flex;
	justify-content: center;
}





.name input, .email input, .ph input, {
	background: transparent;
	border-bottom: 2px solid black;
	border-right: 0;
	border-top: 0;
	border-left:0;
	width: 300px;
	font-size: 20px;
	text-decoration: bold;
	/*border-color: black;*/
}



.message textarea {
	margin-top: 8px;
	width: 300px;
}

.contact-me button {
	background: gold;
	border-radius: 25px;
	text-decoration: bold;
	font-size: 16px;
	width: 118px;
    height: 33px;
    margin: 0 auto;
    display: block;
}
/*applying fles to contact me section doingthis 5th time since yesterday*/
/*.name {
	float: right;
	margin-right: 190px;
	margin-top: 40px;
}

.email {
	margin-left: 270px;
	margin-top: 70px;
}
*/

/*.ph {
	margin-left: 75px;

	}*/
.contact-me {
	height: 500px;
	background-color: #FFEC8B;
	width: 90%;
	margin: 0 auto;
}

.get-in-touch {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;
	padding-top: 30px;
	font-family: "Arimo",sans-serif;
	font-size: 32px;

}

.input-fields {
	/*border: 1px solid black;*/
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}



.msg-ph {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	/*border: 1px solid blue;*/
	width: 70%;
	/*padding-top: 80px;*/
}

.name-email {
	/*border: 1px solid red;*/
	width:70%;
	/*margin: 0 auto;*/
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.message textarea {
	margin-bottom: 20px;
}

@media (max-width:1090px ) {
	.name input, .email input, .ph input, .message textarea {
		width: 190px;
	}

	.about-me {
		flex-direction: column;

	    .describe {
	        margin-left: 0;
	    }
	}

	.profile {
		display: flex;
		justify-content: center;
	}

	.about-me img {
		margin-bottom: 15px;
	}
}



.hire-me {
    position: absolute;
    top: 422px;
    left: calc(50% - 50px);
    border: 1px solid white;
    font-family: "Montserrat";
    font-size: 15px;
    color: white;
    padding: 5px;
    margin: 0 auto;
    width: 100px;
    text-align: center;

	a {
		text-decoration: none;
		color: white;
		font-size: 20px;
	}
}





@media (max-width: 1024px)
{
	.map-tooltip {
		display: none;
	}

	.hire-me {
		display: none;
	}
}

@media(max-width:750px) {


	.show-below750px {
		display: block;
	}
	.show-below750px ul{
		display: inline;
		list-style-type: none;
	}

	.show-below750px ul li a {

		color: white;

	}
	
	.homepage-social div{
		width: 50%;
		/*border: 1px solid white;*/
	}

	.homepage-social div ul{
		display: flex;
		justify-content:space-around;

	}

	.name-email,.msg-ph, .input-fields {
		flex-direction: column;
		justify-content: space-around;
	}

	.name input, .ph input {
		margin-bottom: 35px;
	}

	.name input, .email input, .ph input, .message textarea {
		width: 100%;
	}
}



