@import url('https://fonts.googleapis.com/css?family=Arimo');

html {
	background-color: #dfdfdf;
}
body {
	margin: 0;
	padding: 0;
}

.skylight-picture {
	background-image: url("../image/skylight-pic.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 631px;
	background-color: black;
	/*margin-top: -16px;*/
}

.social > ul {
	list-style-type: none;
	color: white;	
}


.menu_container ul {
	list-style-type: none;
	margin-right: 40px;
	/*border: 1px solid white;*/
	width:500px;
	display: flex;
	justify-content: space-between;
	font-family: "Arimo", sans-serif;
	font-size: 16px;
	font-weight: bold;

}
.social ul {
	display: flex;
	font-weight: bold;
	width: 150px;
	/*border: 1px solid white;*/
	margin-left: 20px;
	justify-content: space-between;
	padding-left:0;
	font-size: 20px;
	margin-top: 15px;
}
.menu_container ul li, .social ul li {
	display: inline;
	
}

.menu_container ul li a{
	color: white;
	text-decoration: none;
}


.sub-heading {
	border-bottom: 2px solid green;
	display: inline-block;

}

.sub-heading-container {
	display: flex;
	justify-content: center;
}


.site-header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.welcome {
	position: relative;
	top: 220px;
	left: 38%;
	border: 1px solid white;
	width: 300px;
	font-family: "Arimo", sans-serif;
	border-radius: 25px;
	text-align: center;
	background-color: #FFc04c;
	font-weight: bold;

	/*border-radius: 10px 40px 30px 140px;*/
}

.homepage-social{
	/*border: 1px solid white;*/
	width: 133px;
	height: 38px;
	margin: 0 auto;
	position: relative;
	top: 338px;
	
}

.homepage-social ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin:0;
	padding:0;
	align-items: center;

}
.homepage-social ul li {
	display: inline;
}
.homepage-social ul li a {
	color: #FFc04c;
	width: 10px;
	font-size: 23px;
}

.social ul li a {
	color: white;
}

.menu_container ul li a:hover, .menu_container ul li:nth-child(1), .social ul li a:hover {
	color: #FFc04c;
}

/*BLOG Section*/



.section-blog {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 600px;
	/*background-color: #ffd27f;*/
}

.section-blog > div {
	width: 32%;
	background-color: white;
	border: 2px solid #FFc04c;
	margin-top: 10px;
	border-radius: 20px;

}


.time-management, .ruby-class, .git-hub {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}



/*ABOUT ME*/

.about-me{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	align-content: center;
	margin: auto;
	padding-bottom: 10px;

}

.about-me img {
	/*width: 560px;*/
	height: 300px;
	margin-top: 15px;
	border-radius: 20px;
	border-right: 1px solid black;
	margin-top: 0px;

}

.about-me-description, .ruby-class p {
/*	line-height: 2;
	letter-spacing: 1px;
	margin-top:0;*/
}

/*EDUCATION SECTION CSS*/
.career img {
	width: 670px;
	height: 450px;
	/*margin-bottom: 30px;*/
}

