@import url(./common/fonts.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 15px;
  font-family: "Montserrat"; }

.menubar-container {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  color: white;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  height: auto; }
  @media (min-width: 768px) {
    .menubar-container {
      background-color: rgba(0, 0, 0, 0.75); } }

.hamburger {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 16px;
  z-index: 10; }
  .hamburger i {
    font-size: 40px;
    margin: 5px; }
  @media (min-width: 768px) {
    .hamburger {
      display: none; } }

.menu-items {
  list-style: none;
  display: none; }
  .menu-items li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold; }
  @media (min-width: 768px) {
    .menu-items {
      display: flex;
      justify-content: space-between; } }
  .menu-items li {
    margin: 28px; }

.picture-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black; }

.silhouette-picture {
  background-image: url("./../images/dad-son.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: black;
  background-attachment: fixed;
  width: 100%; }

.silhouettePic-body-item-holder {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .silhouettePic-body-item-holder {
      top: 177px; } }

.circular-pic {
  height: 80px;
  width: 80px;
  background-image: url("./../images/tom.JPG");
  background-color: black;
  display: inline-block;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .circular-pic {
      height: 120px;
      width: 120px;
      margin-bottom: 10px; } }

.welcome-message {
  font-weight: bold;
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  background-color: #FFC04C;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin-top: 20px; }

.hand-download-contact {
  margin-top: 120px;
  width: 150px; }
  .hand-download-contact ul {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .hand-download-contact ul li a {
      text-decoration: none;
      font-size: 25px;
      color: white; }

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; }

@media (min-width: 768px) {
  .about-me-items {
    display: flex;
    justify-content: space-between; } }

.about-me-heading {
  margin: 15px 0;
  padding-bottom: 3px;
  border-bottom: #FFC04C 2px solid; }

.santosh-pic {
  height: auto;
  max-width: 100%;
  margin: 15px 0; }
  @media (min-width: 768px) {
    .santosh-pic {
      max-width: 350px;
      margin-right: 14px; } }

@media (min-width: 768px) {
  .descriptions-icons {
    margin-top: 11px; } }

.hi-message {
  font-size: 25px;
  margin-bottom: 15px; }

.short-description {
  font-size: "20px";
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify; }

.long-description {
  font-size: "15px";
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify; }
  @media (min-width: 768px) {
    .long-description {
      margin-bottom: -25px; } }

@media (min-width: 768px) {
  .optional-description {
    display: none; } }

.contact-me {
  align-self: flex-start;
  font-weight: bold; }

.social-icons {
  width: 100%; }
  .social-icons ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; }
  .social-icons ul li a {
    color: black; }

.linkedin {
  margin-left: 15px; }

.education-career {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; }

.educationCareer-heading {
  margin: 15px 0;
  padding-bottom: 3px;
  border-bottom: #FFC04C 2px solid; }

.career-list-icon {
  font-size: 60px; }
  .career-list-icon i {
    padding-bottom: 25px; }

.education-career-detail {
  display: flex;
  flex-direction: column;
  align-items: center; }

.course-institute-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .course-institute-list ul {
      padding-left: 0; } }
.course-institute-list ul li {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 2; }
  @media (min-width: 768px) {
    .course-institute-list ul li {
      font-size: 18px; } }

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }

.skills-heading {
  margin: 15px 0;
  padding-bottom: 3px;
  border-bottom: #FFC04C 2px solid; }

.skill-pic {
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("./../../images/skill.jpeg");
  background-size: cover;
  min-height: 500px;
  z-index: 0; }
  .skill-pic:after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%; }

.skill-list {
  display: flex;
  flex-wrap: wrap; }
  .skill-list li {
    width: 90px;
    height: 90px;
    background-color: white;
    transform: rotate(45deg);
    margin: 25px;
    list-style: none; }
    .skill-list li span {
      transform: rotate(-45deg);
      position: absolute;
      margin-top: 31px;
      text-align: center;
      width: 100%;
      height: 100%; }

.blogs-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; }

.blogs-projects-heading {
  margin: 15px 0;
  padding-bottom: 3px;
  border-bottom: #FFC04C 2px solid; }

.blogs-projects-block {
  border: 2px solid #ffc04c;
  margin-top: 10px;
  border-radius: 20px;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px; }

.blogs-projects-pic {
  border-radius: 20px;
  width: 100%; }

.blogs-projects-type {
  width: 120px;
  border: 1px solid #000;
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffc04c;
  border-radius: 20px;
  text-align: center;
  padding: 4PX 14PX;
  color: #000; }

.blogs-projects-description {
  line-height: 150%;
  margin-top: 5px;
  text-align: justify; }

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact-heading {
  margin: 15px 0;
  padding-bottom: 3px;
  border-bottom: #FFC04C 2px solid; }

.name input, .email input, .ph input {
  background: transparent;
  border-bottom: 2px solid black;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  width: 100%;
  font-size: 20px;
  text-decoration: bold;
  /*border-color: black;*/ }

.contact-me button {
  background: gold;
  border-radius: 25px;
  text-decoration: bold;
  font-size: 16px;
  width: 118px;
  height: 33px;
  margin: 0 auto;
  display: block; }

.name label, .ph label, .email label {
  margin: 30px 0;
  display: inline-block; }

.form-items {
  background: #ffec8b;
  width: 100%; }

.form-area {
  padding: 0 40px;
  display: flex;
  flex-direction: column; }

.message-area {
  margin-bottom: 10px;
  margin-top: 30px;
  display: inline-block; }

.form-area button {
  background: gold;
  border-radius: 25px;
  font-size: 16px;
  width: 118px;
  height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  align-self: center; }

.message textarea {
  width: 240px;
  height: 67px;
  display: inline-block; }

/*# sourceMappingURL=styles.css.map */
