.site-section--career {
	
}

.career-list {
	display: flex;
	justify-content: space-evenly;
	padding: 50px 0;
	flex-wrap: wrap;

	@media(max-width: 815px) {
    	flex-direction: column;
    	align-items: center;
    	padding-top: 0;
    	padding-bottom: 0;
    }

	ul {
	    margin: 0;
	    padding-left: 25px;
	    max-width: 300px;
	    font-size: 18px;
	    line-height: 150%;
	}

	li {
		margin-bottom: 30px;
	}
}

.career-list-icon {
	font-size: 60px;
}