.skill {
    position: relative;
    min-height: 500px;

    max-width: 100%;
    overflow: hidden;
}

.skill-list{
    padding: 50px 0

}

.skill-photo {
    position: absolute;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../image/working_man.jpg");
  background-size: cover;
  min-height: 500px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
  }
}


.diamonds {
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    display: inline-block;
}

.diamond-row-wrap {
    text-align: center;
    position: relative;
    float: left;
    clear: both;
}
.diamond-row-upper, .diamond-row-lower {
    overflow: visible;
    clear: both;
    width: 100%;
}
.diamond-row-lower {
    position: absolute;
    bottom: 0;
}
    .diamond-row-lower .diamond-box {
        margin-left: 64.644660941%; /* 0.5 + 1 / sqrt(2) / 2 */
        margin-top: 64.644660941%;
    }

.diamond-box-wrap {
    float: left;
    width: 200px; /* Size of diamonds */
    height: 200px;
    
    @media (max-width: $breakpoint-phablet) {
        & {
            width: 100px !important;
            height: 100px !important;
        }
    }
}

.diamond-box {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
    
    position: relative;
    z-index: 1;
    
    width: 70.710678118%; /* x = sqrt(x^2 / 2) = 1 / sqrt(2) = 0.70710678118 */
    height: 70.710678118%;
    margin: 14.644660941%;
    
    border: 1px solid transparent;
}

.diamond-box-inner {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 141.421356237%; /* sqrt(2) */
    height: 141.421356237%;
    margin: -20.7106781185% 0 0 -20.7106781185%; /* (1 - sqrt(2)) / 2 */
}

.diamond-grid {
    margin: 50px auto;
    display: table;
    width: 100%;
    max-width: 800px;

    .items {
        width: 200px;
        height: 200px;
        background: #fff;        
        transition: 0.5s;
        top: 20px;
        vertical-align: middle;
        display: table-cell;
        font-size: 56px;

        @media (max-width: $breakpoint-phablet) {
            & {
                width: 100px;
                height: 100px;
                font-size: 30px;
            }
        }
        
    }

    .items:hover {
        // opacity:1;
        opacity: 0.5;
    }

    .items image {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        transform: translateY(-50%) scale(1.5);

    }
}


@media (max-width: 767px)
{
    .diamond-grid 
    {
        width: 100%;
        margin: 0 auto;
    }
    
}