@import './common/fonts.css';

@import './mobile-version/menubar-container.scss';
@import './mobile-version/picture-container';
@import './mobile-version/about-me.scss';
@import './mobile-version/education-career.scss';
@import './common/base';


