@import './common/fonts.css';
@import './common/base';

@import './mobile-version/menubar-container.scss';
@import './mobile-version/picture-container';
@import './mobile-version/about-me.scss';
@import './mobile-version/education-career.scss';
@import './mobile-version/skills.scss';
@import './mobile-version/blogs-projects';



