.section-blog {
    display: flex;
    // justify-content: space-between;
    // margin: 0 auto;
    
    @media (max-width: $breakpoint-phablet) {
        & {
            flex-direction: column;
        }
    }
}

.blog-item {
    border: 2px solid #FFc04c;
    margin-top: 10px;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;

    > * {
        margin-bottom: 12px;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: $breakpoint-tablet) {
        & {
            margin-bottom: 12px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.blog-type {
    display: block;
    width: 120px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffc04c;
    border-radius: 20px;
    text-align: center;
    padding: 4PX 14PX;
    color: black;
    text-decoration: none;
}

.blog-image {
    border-radius: 20px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-details {
    line-height: 150%;
}

