.site-section {
    &--feature {
        background-image: url("../image/skylight-pic.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-color: black;
        background-attachment: fixed;
    }
}

.site-section-inner {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: $breakpoint-tablet) {
        & {
            padding: 0 20px;
        }
    }  
}
