@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "./../common/mixins";



.about-me {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // padding: 0 20px;
    @include main-containers;
}

.about-me-items{
    @media (min-width: 768px){
        display: flex;
        justify-content: space-between;
    }

}

.about-me-heading {
    @include section-header;
}

.santosh-pic {
    height: auto;
    max-width:100%;
    margin: 15px 0;

    @media (min-width: 768px){
        max-width: 350px;
        margin-right: 14px;
    }
}

.descriptions-icons {

    @media (min-width: 768px) {
        margin-top: 11px;
    }

}

.hi-message {
    font-size: 25px;
    margin-bottom: 15px;
    
}

.short-description {
    @include descriptions("20px");
}

.long-description {
    @include descriptions("15px");

    @media (min-width: 768px) {
        margin-bottom: -25px;
    }

   

}

.optional-description {
    @media (min-width: 768px) {
        display: none;
    }

    @media (min-width: 1000px) {
        display: inline-block;
        margin: 15px 0;
    }
}

.contact-me {
    align-self: flex-start;
    font-weight: bold;
}

.social-icons {
   width: 100%;

    ul {
        list-style: none;
        display:flex;
        justify-content: flex-start;
        }

    ul li a {
        color: black;
        
    }
}


.linkedin {
    margin-left: 15px;
}
