@import "./../common/mixins";

.education-career {
    @include main-containers;
}

.educationCareer-heading {
   @include section-header;   
}

.career-list-icon {
    font-size: 60px;

    i{
        padding-bottom: 25px;
    }
}

.education-career-detail{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.course-institute-list {
    
    ul {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        
        @media (min-width: 768px){
            padding-left:0;        
           }
        @media (min-width: 1000px){
            flex-direction: row;
            justify-content: space-between;
            margin-left: 20px;
        }
       }

    ul li{
        margin-bottom: 30px;
        
        font-size: 15px;
        line-height: 2;
        @media (min-width: 768px){
            font-size: 18px;
        }
    }

    ul div {
        @media (min-width:1000px){
            // margin-left: 10px;
            //width: 505px;
            //border: 1px solid black;

        }
    }
}

#long-desc {
    //@media (min-width: 1000px) {
        margin-bottom: 10px;
    //}
}