.menubar-container{
    background: rgba(0,0,0,0.75);
    
    color: white;
    position:fixed; //ask karuna yo garna saath sab left hand side ma janchha. yo container bus justify centre garna ko lagi ho? fix chai aarko ma garnee?
    width: 100%;//400px; //how much to put in width, can we put max-width?
    margin: 0 auto;
    z-index: 10;
    height: auto;

    @media(min-width: 768px){
        background-color:rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
    }

    @media (min-width: 1000px){

    }

    
}

.header-social-icons {
    ul { list-style: none; display: flex;}
    //margin-left: 2px;
    
    li:nth-child(1) a i {
        // padding-left: 10px;
        //color: yellow;
    }

    li:nth-child(2) a i{
        //color: red;
        margin-left: -10px;
    }

    i {
        display:none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        @media (min-width: 1000px) {
            display: inline-block;
            margin: 28px;

            
        }
    }

    i:hover{
        color: #FFC04C;
    }
}

.menu-itemsHolder{
    @media (min-width: 1000px){

    //border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

}

.hamburger{ //menu-itemholder ma color white garda hamburger kina white na bha?
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 16px;//hamburger ko fontsze increase bhayeena gp
    z-index: 10;
    
    i {
        font-size: 40px;
        margin: 5px;
    }

    @media (min-width: 768px){
        display: none;
    }

}

.menu-items{
   list-style: none;
   display:none;
   

   li a {
       text-decoration: none;
       color: white;
       font-size: 17px;
       font-weight: bold;
   }

   li a:hover {
       color: #FFC04C;
   }
   @media(min-width: 768px) {
       display: flex;
       justify-content: space-between;
       //font-weight: bold;
   }

   li {
       margin: 28px;
       //font-weight: bold;
   }
}



