.picture-container{
    width: 100%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    background: black;
    // border: 6px solid black;
}

.silhouette-picture{    
   background-image: url("./../images/dad-son.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: black;
    background-attachment: fixed; 
    width: 100%
    // margin-top: 200px;
}

.circular-pic{
    height: 80px;
    width: 80px;
    background-image: url("./../images/tom.JPG");
    background-color: black;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    margin-top: -50px;
}

.welcome-message{
    font-weight: bold;
    font-family: "Arimo", sans-serif;
    // border: 1px solid black;
    position: absolute;
    font-size: 15px;
   
    background-color: #FFC04C;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.hand-download-contact{
    position: absolute;
    // display: flex;
    // justify-content: space-between;
    margin-top: 120px;
    width: 150px;

    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        li a{
            text-decoration: none;
            font-size: 25px;
            color: white;
        }
    }

    
}




