@import url('https://fonts.googleapis.com/css?family=Montserrat');

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.about-me-heading {
    font-family: "Montserrat";
    text-decoration: underline;
    text-decoration-color: #FFC04C;
    // padding-bottom: 50px;
    
    //font is not picking up Montserrat, how to increase gap between text and underline
  
}

.santosh-pic {
    height: auto;
    max-width:100%;
    margin: 15px 0;
}

.hi-my-name-is {
    font-size: 25px;
    margin-bottom: 15px;
    
}

.i-am-a-creative{
    
}

